/.vscode
/Consumer/appsettings.Development.json
/Consumer/appsettings.json
/Consumer/bin
/Consumer/obj
/Producer/appsettings.Development.json
/Producer/appsettings.json
/Producer/bin
/Producer/obj
FrontEnd.code-workspace
.env
docker-compose.draft.yml
wordpress/playground.php
