.env
/.vscode
/Middleware/Consumer/appsettings.Development.json
/Middleware/Consumer/appsettings.json
/Middleware/Consumer/bin
/Middleware/Consumer/obj
/Middleware/Producer/appsettings.Development.json
/Middleware/Producer/appsettings.json
/Middleware/Producer/bin
/Middleware/Producer/obj
/Middleware/Shared/bin
/Middleware/Shared/obj
docker-compose.draft.yml
FrontEnd.code-workspace
wordpress/playground.php
